      <!-- Top menu -->
    <nav class="navbar navbar-fixed-top navbar-inverse navbar-no-bg" role="navigation" style="background-color: #333">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Steryz - Stérilisation externalisée</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="scroll-link" href="#features">POURQUOI?</a></li>
            <li><a class="scroll-link" href="#how-it-works">COMMENT CA MARCHE</a></li>
            <li><a class="scroll-link" href="#pricing">ABONNEMENTS</a></li>
            <li><a class="btn btn-link-3 scroll-link" href="#top-content">CONTACTEZ-NOUS</a></li>
          </ul>
        </div>
      </div>

      <% if flash[:notice] %>
        <div class="alert alert-success fade in">
          <button class="close" data-dismiss="alert">×</button>
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="alert alert-danger fade in">
          <button class="close" data-dismiss="alert">×</button>
          <%= flash[:alert] %>
        </div>
      <% end %>

    </nav>



    <!-- Top content -->
    <div class="top-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 text wow fadeInLeft">
            <h1>Fini les pertes de temps liées à stérilisation</h1>
            <div class="description">
              <p class="medium-paragraph">
                Nous sommes une société qui vous permet d'externaliser la stérilisation de vos instruments. Contactez-nous et facilitez-vous la vie !
              </p>
            </div>
            <div class="top-buttons">
              <a class="btn btn-link-1 scroll-link" href="#pricing">Nos abonnements<i class="fa fa-angle-right"></i></a>
              <a class="btn btn-link-2 scroll-link" href="#features">En savoir plus<i class="fa fa-lightbulb-o"></i></a>
            </div>
          </div>
<!--           <div class="col-sm-5 c-form-1-box wow fadeInUp"> -->
<!--           c-form-1-box fait planté simple form .... > -->

          <div class="col-sm-5 c-form-10-box wow fadeInUp">
            <div class="c-form-1-top">
              <div class="c-form-1-top-left">
                <h3>Contactez-nous</h3>
                <p style="color: white">Veuillez remplir le formulaire svp</p>
              </div>
              <div class="c-form-1-top-right">
                <i class="fa fa-envelope"></i>
              </div>
            </div>
            <div class="c-form-1-bottom">
              <% @contact = Contact.new  %>
              <%= simple_form_for @contact do |f| %>
                <form role="form" action="assets/contact.php" method="post">
                  <div class="form-group">
                    <label class="sr-only" for="c-form-1-name">Nom</label>
                    <%= f.input :name, :required => true, name:"text", type:"text", placeholder:"Nom", style:"width: 100%", label:false, input_html: { class:"c-form-1-email form-control" }%>
<!--                 <input type="text" name="name" placeholder="Name" class="c-form-1-name form-control" id="c-form-1-name"> -->
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="c-form-1-email">Email</label>
<!--                 <input type="text" name="email" placeholder="Email..." class="c-form-1-email form-control" id="c-form-1-email"> -->
                    <%= f.input :mail, :required => true, type:"text", name:"email", placeholder:"Email", id:"c-form-1-email", label:false, input_html: { class:"c-form-1-email form-control" } %>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="c-form-1-email">Téléphone</label>
<!--                 <input type="text" name="email" placeholder="Email..." class="c-form-1-email form-control" id="c-form-1-email"> -->
                    <%= f.input :tel, :required => true, type:"text", name:"tel", placeholder:"Téléphone", id:"c-form-1-email", label:false, input_html: { class:"c-form-1-email form-control" } %>
                  </div>
                  <div class="form-group">
                      <label class="sr-only" for="c-form-1-subject">Offre</label>
<!--                       <input type="text" name="subject" placeholder="Quelle offre vous intéresse?" class="c-form-1-subject form-control" id="c-form-1-subject"> -->
                      <%= f.input :offer, :required => true, type:"text", name:"offer", collection:["Urgent", "Argent", "Or", "Platine"], prompt: "Quelle offre vous intresse ?", label:false, input_html: { class:"c-form-1-email form-control", style:"height:50px; color:#888; font-family: 'Raleway', sans-serif; font-size: 15px; font-weight: 400; background-color: #fff; text-indent: 15px;"} %>
                  </div>
                  <div class="form-group">
                      <label class="sr-only" for="c-form-1-message">Message</label>
                      <!-- <textarea name="message" placeholder="Message" class="c-form-1-message form-control" id="c-form-1-message"></textarea> -->
                      <%= f.input :message, :required => true, type:"text", name:"offer", placeholder:"Message", label:false, input_html: { class:"c-form-1-email form-control", style:"min-height:150px" } %>
                  </div>
                  <button type="submit" class="btn ">Envoyer</button>
                </form>
              <% end  %>
            </div>
          </div>
        </div>
      </div>
    </div>

        <!-- Features -->
        <div class="features-container section-container">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 features section-description wow fadeIn">
                      <h2>Pourquoi la stérilisation externalisée ?</h2>
                      <div class="divider-1"><div class="line"></div></div>
                      <p class="medium-paragraph">Nous proposons une offre de stérilisation externalisée dédiée aux cabinets dentaires. Nous vous apportons une solution de qualité et adaptée à votre activité.</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-4 features-box wow fadeInUp">
                    <div class="features-box-icon"><i class="fa fa-clock-o"></i></div>
                      <h3>Gain de temps</h3>
                      <p>Votre assistant(e) dentaire peut vous aider et n'est plus contraint(e) par la lourdeur du processus de stérilisation.</p>
                    </div>
                    <div class="col-sm-4 features-box wow fadeInDown">
                    <div class="features-box-icon"><i class="fa fa-balance-scale"></i></div>
                      <h3>Sérénité</h3>
                      <p>Fini les problèmes en cas de maladie ou de congés de votre assistant(e) dentaire.</p>
                    </div>
                    <div class="col-sm-4 features-box wow fadeInUp">
                    <div class="features-box-icon"><i class="fa fa-life-ring"></i></div>
                      <h3>Sécurité</h3>
                      <p>Votre matériel sera toujours sécurisé et aux dernières normes en vigueur.</p>
                    </div>
              </div>
              <div class="row">
                <div class="col-sm-4 features-box wow fadeInDown">
                    <div class="features-box-icon"><i class="fa fa-magic"></i></div>
                      <h3>Moins de responsabilité</h3>
                      <p>Déchargez-vous des problèmes relatifs à la stérilisation. Nous le faisons pour vous.</p>
                    </div>
                  <div class="col-sm-4 features-box wow fadeInUp">
                    <div class="features-box-icon"><i class="fa fa-euro"></i></div>
                      <h3>Faites des économies</h3>
                      <p>Souscrivez à une de nos offres et faites des économies par rapport à une stérilisation en interne.</p>
                    </div>
                    <div class="col-sm-4 features-box wow fadeInDown">
                    <div class="features-box-icon"><i class="fa fa-star"></i></div>
                      <h3>Flexibilité</h3>
                      <p>Fini les coûts fixes importants. Nous vous offrons la flexibilité.</p>
                    </div>
              </div>
              <div class="row">
                <div class="col-sm-12 section-bottom-button wow fadeInUp">
                        <a class="btn btn-link-1 scroll-link" href="#top-content">Contactez-nous<i class="fa fa-angle-right"></i></a>
                </div>
              </div>
          </div>
        </div>
        <!-- How it works -->
        <div class="how-it-works-container section-container section-container-image-bg">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 how-it-works section-description wow fadeIn">
                      <h2>Comment ça marche ?</h2>
                      <div class="divider-1"><div class="line"></div></div>
                      <p class="medium-paragraph">Vous êtes à quelques clics de la fin de vos tracas. <i class="fa fa-trophy"></i></p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-4 col-sm-offset-1 how-it-works-box wow fadeInUp">
                    <div class="how-it-works-number">1</div>
                      <h3>Pré-desinfecter</h3>
                      <p>Une fois que vous vous êtes servi de votre matériel médical, pré-desinfectez vos instruments et rangez les dans la caisse de transport que nous vous fournissons.</p>
                    </div>
                    <div class="col-sm-4 col-sm-offset-2 how-it-works-box wow fadeInDown">
                    <div class="how-it-works-number">2</div>
                      <h3>Documenter</h3>
                      <p>Complétez le bordereau que nous vous fournissons pour y mentionner le nombre d'instruments que vous nous confiez.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-1 how-it-works-box wow fadeInUp">
                    <div class="how-it-works-number">3</div>
                      <h3>Coursier</h3>
                      <p>Un de nos coursiers vient retirer vos instruments quotidiennement.</p>
                    </div>
                    <div class="col-sm-4 col-sm-offset-2 how-it-works-box wow fadeInDown">
                    <div class="how-it-works-number">4</div>
                      <h3>Transport</h3>
                      <p>Le transport est assuré dans une de nos camionnettes agréées DASRI.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-1 how-it-works-box wow fadeInUp">
                    <div class="how-it-works-number">5</div>
                      <h3>Stérilisation</h3>
                      <p>Vos instruments sont stérilisés au sein d'un stérilisateur de nos partenaires. Ce processus est en accord avec les normes et la législation en vigueur.</p>
                    </div>
                    <div class="col-sm-4 col-sm-offset-2 how-it-works-box wow fadeInDown">
                    <div class="how-it-works-number">6</div>
                      <h3>Retour</h3>
                      <p>Notre coursier vous dépose vos instruments qui sont prêts à être utilisés.</p>
                    </div>
                </div>
              <div class="row">
                <div class="col-sm-12 section-bottom-button wow fadeInUp">
                        <a class="btn btn-link-1 scroll-link" href="#top-content">Contactez-nous<i class="fa fa-angle-right"></i></a>
                </div>
              </div>
          </div>
        </div>

        <!-- Pricing -->
        <div class="pricing-container section-container">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 pricing section-description wow fadeIn">
                      <h2>Abonnements</h2>
                      <div class="divider-1"><div class="line"></div></div>
                      <p class="medium-paragraph">Ci-dessous vous trouverez les abonnements que nous proposons. Choisissez celui qui convient le mieux à vos besoins.</p>
                  </div>
              </div>
              <div class="row">
                    <div class="col-sm-3 pricing-box wow fadeInUp">
                      <div class="pricing-box-inner">
                      <!-- <div class="pricing-box-price"><span>€ </span><strong>1'500</strong><span> / mois</span></div> -->
                        <h3>Urgent</h3>
                        <h4>Un imprévu ?</h4>
                        <div class="pricing-box-features">
                          <ul>
                            <li>1 jour</li>
                            <li>1 fauteuil</li>
                            <li>Pas d'engagement</li>
                            <li>Faire face à une urgence</li>
                            <li>1 seul Dépôt/Retrait</li>
                          </ul>
                        </div>
                        <div class="pricing-box-sign-up">
                          <a class="btn btn-link-1 scroll-link" href="#top-content">Contactez-nous<i class="fa fa-angle-right"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3 pricing-box wow fadeInUp">
                      <div class="pricing-box-inner">
                      <!-- <div class="pricing-box-price"><span>€ </span><strong>1'500</strong><span> / mois</span></div> -->
                        <h3>Argent</h3>
                        <h4>Testez</h4>
                        <div class="pricing-box-features">
                          <ul>
                            <li>1 mois</li>
                            <li>1 fauteuil</li>
                            <li>Pas d'engagement</li>
                            <li>Le plus flexible</li>
                            <li>Retrait/Dépôt quotidien</li>
                          </ul>
                        </div>
                        <div class="pricing-box-sign-up">
                          <a class="btn btn-link-1 scroll-link" href="#top-content">Contactez-nous<i class="fa fa-angle-right"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3 pricing-box pricing-box-best wow fadeInDown">
                      <div class="pricing-box-inner">
                      <!-- <div class="pricing-box-price"><span>€ </span><strong>1'200</strong><span> / mois</span></div> -->
                        <h3>Or</h3>
                        <h4>Abonnez-vous</h4>
                        <div class="pricing-box-features">
                          <ul>
                            <li>Abonnement d'1 an</li>
                            <li>1 fauteuil</li>
                            <li>Economisez 20%</li>
                            <li>Facturation mensuelle</li>
                            <li>Retrait/Dépôt quotidien</li>
                          </ul>
                        </div>
                        <div class="pricing-box-sign-up">
                          <a class="btn btn-link-1 scroll-link" href="#top-content">Contactez-nous<i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3 pricing-box wow fadeInUp">
                      <div class="pricing-box-inner">
                      <!-- <div class="pricing-box-price"><span>€ </span><strong>1'000</strong><span> / mois</span></div> -->
                        <h3>Platine</h3>
                        <h4>Le moins cher</h4>
                        <div class="pricing-box-features">
                          <ul>
                            <li>Abonnement d'1 an</li>
                            <li>1 fauteuil</li>
                            <li>Economisez 33%</li>
                            <li>Facturation annuelle</li>
                            <li>Retrait/Dépôt quotidien</li>
                          </ul>
                        </div>
                        <div class="pricing-box-sign-up">
                          <a class="btn btn-link-1 scroll-link" href="#top-content">Contactez-nous<i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    </div>
              </div>
          </div>
        </div>

        <!-- Testimonials -->
        <div class="testimonials-container section-container section-container-image-bg">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 testimonials section-description wow fadeIn">
                    <h2>Témoignages</h2>
                    <div class="divider-1"><div class="line"></div></div>
                      <p class="medium-paragraph">Voila ce que quelques professionnels disent de nous</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 testimonial-list wow fadeInUp">
                    <div role="tabpanel">
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                          <div class="testimonial-image">
                            <img src="http://res.cloudinary.com/dz83jh064/image/upload/v1520955368/male-dentist_4460x4460_qkbkay.jpg" alt="t1" data-at2x="http://res.cloudinary.com/dz83jh064/image/upload/v1520955368/male-dentist_4460x4460_qkbkay.jpg">
                          </div>
                          <div class="testimonial-text">
                                    <p>
                                      "Ca fait tellement longtemps que nous attendons ça avec mes associés. La stérilisation c'est toujours délicat, et ne plus avoir à s'en soucier, c'est une vraie plus value dans notre quotidien!"<br>
                                    </p>
                                  </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab2">
                          <div class="testimonial-image">
                            <img src="http://res.cloudinary.com/dz83jh064/image/upload/v1520955368/woman-doctor-with-gloves_4460x4460_txas1t.jpg" alt="t2" data-at2x="http://res.cloudinary.com/dz83jh064/image/upload/v1520955368/woman-doctor-with-gloves_4460x4460_txas1t.jpg">
                          </div>
                          <div class="testimonial-text">
                                    <p>
                                      "5 ans. 5 ans que je me dis tous les jours: "Isabelle, lance toi et crée une société de stérilisation externalisée. Antoine et Aurélien l'ont fait avant moi. Tant pis! Mais en tous cas, ça me facilite clairement la vie au quotidien."<br>
                                    </p>
                                  </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab3">
                          <div class="testimonial-image">
                            <img src="http://res.cloudinary.com/dz83jh064/image/upload/v1520955691/doctor-1149149_1920_xavblu.jpg" alt="t3" data-at2x="http://res.cloudinary.com/dz83jh064/image/upload/v1520955691/doctor-1149149_1920_xavblu.jpg">
                          </div>
                          <div class="testimonial-text">
                                    <p>
                                      "Mon assistante dentaire va pouvoir m'aider 100% de son temps et ne plus se concentrer sur les tâches relatives à la stérilisation. C'est très bien, aussi bien pour elle que pour moi !"<br>
                                    </p>
                                  </div>
                        </div>
                      </div>
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                          <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab"></a>
                        </li>
                        <li role="presentation">
                          <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab"></a>
                        </li>
                        <li role="presentation">
                          <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
              </div>
          </div>
        </div>


    <!-- About us -->
        <div class="about-us-container section-container">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 about-us section-description wow fadeIn">
                      <h2>L'équipe</h2>
                      <div class="divider-1"><div class="line"></div></div>
                      <p class="medium-paragraph">Une jeune entreprise mais pleine d'ambition et composée de profils expérimentés.</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-4 about-us-box wow fadeInDown">
                    <div class="about-us-photo">
                      <img src="http://res.cloudinary.com/dz83jh064/image/upload/v1520933613/AntoineStaumont_j4jfly.jpg" alt="tim-brown" data-at2x="assets/about/2.jpg">
                      <div class="about-us-role">Fondateur</div>
                    </div>
                      <h3>Antoine</h3>
                      <p>Chirurgien dentiste, entrepreneur et fullstack développeur</p>
                      <div class="about-us-social">
                      <a href="https://www.linkedin.com/in/antoine-staumont-83133062/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                    </div>
                  </div>
                  <div class="col-sm-4 about-us-box wow fadeInUp">
                    <div class="about-us-photo">
                      <img src="http://res.cloudinary.com/dz83jh064/image/upload/v1520516816/af82h1mdaf0qaraka4vw.png" alt="john-doe" data-at2x="assets/about/1.jpg">
                      <div class="about-us-role">Fondateur</div>
                    </div>
                      <h3>Aurélien</h3>
                      <p>Analyste financier, entrepreneur et fullstack développeur</p>
                      <div class="about-us-social">
                        <a href="https://www.linkedin.com/in/aur%C3%A9liendobbels/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                    </div>
                  </div>
                  <div class="col-sm-4 about-us-box wow fadeInUp">
                    <div class="about-us-photo">
                      <img src="http://res.cloudinary.com/dz83jh064/image/upload/v1520933772/MichelStaumont_uoa3sq.jpg" alt="sarah-red" data-at2x="assets/about/3.jpg">
                      <div class="about-us-role">Conseiller</div>
                    </div>
                      <h3>Dr. Staumont</h3>
                      <p>Chirurgien dentiste et Président du conseil de l'ordre des chirurgiens dentistes du Nord-Pas-de-Calais</p>
                      <div class="about-us-social">
                        <a href="https://www.linkedin.com/in/michel-staumont-b4a3aa57/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                    </div>
                  </div>
              </div>
          </div>
        </div>

    <!-- Call to action -->
        <div class="call-to-action-container section-container section-container-image-bg">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 call-to-action section-description wow fadeInLeft">
                      <h2>Vous souhaitez en savoir plus ?</h2>
                      <p>
Envoyez-nous quelques lignes !
                      </p>
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-12 section-bottom-button wow fadeInUp">
                        <a class="btn btn-link-1 scroll-link" href="#top-content">Contactez-nous<i class="fa fa-angle-right"></i></a>
                </div>
              </div>
          </div>
        </div>



        <!-- Footer -->
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-sm-4 footer-about wow fadeInUp">
                <h3>A propos</h3>
                <p>
                  Fort d'une experience cumulée de 60 ans en odontologie, nous savons que la stérilisation est un problème auquel tous les praticiens doivent se confronter. Nous essayons, à notre échelle, de rendre votre profession moins contraignante.
                </p>
                <p>
                        <a class="scroll-link" href="#about-us">Notre équipe</a>
                      </p>
                    </div>
              <div class="col-sm-4 footer-contact-info wow fadeInDown">
                <h3>Contact</h3>
                    <p><%= image_tag "http://res.cloudinary.com/dz83jh064/image/upload/v1521042533/Steryz_dydsua.png", width:"100px" %></p>
                    <p><i class="fa fa-map-marker"></i>Maison Dentaire, 55 rue Salvador Allende, 59120 Loos</p>
                    <p><i class="fa fa-phone"></i> +33 6 60 95 47 02</p>
                    <p><i class="fa fa-envelope"></i> Email: <a href="mailto:hellosteryz@gmail.com">hellosteryz@gmail.com</a></p>
                    </div>
                    <div class="col-sm-4 footer-social wow fadeInUp">
                      <h3>Votre avis nous intéresse</h3>
                      <p>
                        Une remarque, un commentaire, une question, une envie de prendre un café avec nous ?
                      </p>
                      <p>
                        Envoyez-nous un email !
                      </p>
                      <p>
                        <a class="btn btn-link-1 scroll-link" href="#top-content">Rencontrons-nous <i class="fa fa-coffee"></i></a>
                      </p>
                    </div>
              </div>
          </div>
        </footer>


        <!-- Javascript -->
        <script src="assets/jquery-1.11.1.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/jquery.backstretch.min.js"></script>
        <script src="assets/wow.min.js"></script>
        <script src="assets/retina-1.1.0.min.js"></script>
        <script src="assets/waypoints.min.js"></script>
        <script src="assets/scripts.js"></script>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

